<div id="video-contaner">
  <iframe id="video" class="w-full h-full absolute" allow="autoplay"
    src="https://www.youtube.com/embed/2Cwaneq2w-4?mute=1&autoplay=1&&title=0&byline=0&wmode=transparent&autopause=1"
    frameborder="0"></iframe>

  <div class="h-screen bg-white">
    <div class="pt-[15%] px-24 absolute h-full text-white bg-gradient-to-r from-black">
      <h1 class="text-6xl font-bold">The Wrong Missy</h1>
      <p class="inline-block py-6 text-xl w-1/4 flex-wrap">When Tim Morris meets his dream girl and their relationship
        quickly escalates through texts, he throws caution to the wind and invites her to his company’s corporate
        retreat
        on an island resort… However, when a past blind date from hell shows up at the airport for the weekend getaway
        instead, he learns too late that he’s been texting “The Wrong Missy.”.</p>
      <div>
        <div class="sound">
          <button id="unmute-btn"
            class="bg-white text-black md font-bold py-0 px-4 text-xl rounded-lg hover:bg-opacity-70 transition-[1s]">
            Unmute
          </button>
        </div>

        <!--
        <button class="mx-2 bg-gray-500 text-white px-12 py-4 text-xl bg-opacity-50 rounded-lg">
          More Info
        </button> -->
      </div>

    </div>
  </div>

</div>

